#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body{
    background-color: #BCFFDB;
}
header{
    background-color: #FFEAEE;
}
nav a:hover{
    background-color: #FFEAEE;
    color: #3AAED8;
}
.book, .join{
    background-color:#BCFFDB;
    color: black;
    text-decoration: none;
}
.book:hover, .join{
    background-color:#3AAED8;
}
#background{
    background-color:#3AAED8;
}
.msg{
    background-color:Black;
}
footer{
    background-color:#FFEAEE;
    color: black;
}
.home-title{
    color: black;
}
h4{
    color: black;
}
.book:hover, .join:hover{
    color: #ebe2d8;
}
.msg h2{
    color: #ebe2d8;
}
.msg p{
    color: #ebe2d8;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: #3AAED8;
}
.icon {
    width: 80px;
}
#hero-img{
    width: 100%;
}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
}    